* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #000C18;
}

header {
    background-color: #000C18;
    padding: 20px;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff5500;
}

.container {
    max-width: 1200px;
    margin: 100px auto 0;
    padding: 0 20px;
}

.user-profile {
    text-align: center;
}

h2 {
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 20px;
}

.profile-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.profile-info {
    text-align: left;
}

.profile-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
}

.profile-info p {
    font-size: 16px;
    margin-bottom: 5px;
    color: #ffffff;
}

.btn {
    display: inline-block;
    background-color: #ff5500;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ff4400;
}

.edit-profile {
    background-color: #337ab7;
}

.order-history {
    margin-top: 40px;
}

.order-history h3 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    color: #ffffff;
}

table th {
    background-color: #222222;
}

footer {
    background-color: #000C18;
    padding: 20px;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}

.social-icons a {
    color: #ffffff;
    margin-left: 10px;
    font-size: 20px;
}

